<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Agriculture Solutions
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="assets/images/logo.png" />

    <h4 class="name">Farm IT</h4>
    <p class="designation">Wersja 1.0</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>build</mat-icon>
      <span>Działania</span>
    </button>

    <button mat-button class="menu-button" routerLink="/lands">
      <mat-icon>dashboard</mat-icon>
      <span>Działki</span>
    </button>

    <button mat-button class="menu-button" routerLink="/warehouse/plant">
      <mat-icon>local_florist</mat-icon>
      <span>Nasiona</span>
    </button>
    <button mat-button class="menu-button" routerLink="/warehouse/pesticide">
      <mat-icon>local_drink</mat-icon>
      <span>Herbicydy</span>
    </button>
    <button mat-button class="menu-button" routerLink="/warehouse/fertilizer">
      <mat-icon>grain</mat-icon>
      <span>Nawozy</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/contact">
      <mat-icon>contact_support</mat-icon>
      <span>Kontakt</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="content mat-elevation-z8"
      [ngClass]="{ 'content-desktop': destkopMode, 'content-mobile': !destkopMode }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
