<button class="custom-button" mat-flat-button color="add" (click)="addUser()">
  <mat-icon>add</mat-icon>
</button>

<div class="w-100">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.Name' | translate }} </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Users.Login' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.login }}</td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Users.AddDate' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.created | date: 'dd.MM.yyyy HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Users.Active' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [disabled]="element.id === currentUserId"
          [(ngModel)]="element.active"
          (change)="changeActiveMode(element.id)"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Users.Admin' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [disabled]="element.id === currentUserId"
          [(ngModel)]="element.isAdmin"
          (change)="changeAdminMode(element.id)"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z8 w-100"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
