<div class="row h-100">
  <div class="col-6 col-sm-3 first-row">
    <button class="button-block action" routerLink="/action/plant">{{ 'Dashboard.Plant' | translate }}</button>
  </div>
  <div class="col-6 col-sm-3 first-row">
    <button class="button-block action" routerLink="/action/fertilizer">
      {{ 'Dashboard.Fertilizer' | translate }}
    </button>
  </div>

  <div class="col-6 col-sm-3 second-row">
    <button class="button-block action" routerLink="/action/pesticide">{{ 'Dashboard.Pesticide' | translate }}</button>
  </div>
  <div class="col-6 col-sm-3 second-row">
    <button class="button-block action" routerLink="/action/harvest">{{ 'Dashboard.Harvest' | translate }}</button>
  </div>

  <div class="col-6 col-sm-3 third-row">
    <button class="button-block action" routerLink="/action/season">{{ 'Dashboard.Season' | translate }}</button>
  </div>
  <div class="col-6 col-sm-3 third-row">
    <button class="button-block action" routerLink="/action/weather">{{ 'Dashboard.Weather' | translate }}</button>
  </div>
</div>
