mat-grid-tile {
  background: rgb(181, 166, 255);
}

.button-block {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.action {
  background-color: #0e8f00;
  color: white;
  font-weight: bold;
}

.first-row {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 0px !important;
}

.second-row {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0px !important;
}

.third-row {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding: 0px !important;
}
