<div class="text-center">
  <h2 mat-dialog-title>
    Dodaj: <strong>{{ data.name }} </strong>
  </h2>
</div>

<form [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label *ngIf="data.objectType !== objectTypeEnum.PesticideWarehouse">Ilość (kg)</mat-label>
    <mat-label *ngIf="data.objectType === objectTypeEnum.PesticideWarehouse">Ilość (ml)</mat-label>
    <input formControlName="quantity" type="number" min="1" matInput />
  </mat-form-field>

  <mat-form-field
    *ngIf="data.objectType !== objectTypeEnum.PlantWarehouse"
    class="example-full-width price"
    appearance="fill"
  >
    <mat-label>Cena (zł)</mat-label>
    <input formControlName="price" type="number" min="1" matInput />
  </mat-form-field>

  <mat-form-field
    *ngIf="data.objectType === objectTypeEnum.PlantWarehouse"
    class="example-full-width price"
    appearance="fill"
  >
    <mat-label>Cena (zł)</mat-label>
    <input formControlName="price" type="number" min="0" matInput />
  </mat-form-field>
</form>

<div class="actions d-flex justify-content-center" mat-dialog-actions>
  <button mat-flat-button color="add" [disabled]="form.invalid" [mat-dialog-close]="addDelivery()" cdkFocusInitial>
    Dodaj
  </button>
  <button mat-flat-button color="cancel" [mat-dialog-close] cdkFocusInitial>Anuluj</button>
</div>
