<div class="d-flex justify-content-between">
  <button class="mb-2 h-2 margin-right-button" mat-flat-button color="back" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-card *ngIf="warehouseId && plantId; else onlyWarehouse" class="w-100 mb-2">
    {{ 'PlantDelivery.History' | translate }} <strong>{{ plantName }} </strong> na magazyn:
    <strong> {{ warehouseName }} </strong>
  </mat-card>

  <ng-template #onlyWarehouse>
    <mat-card class="w-100 mb-2">
      {{ 'PlantDelivery.HistoryPerWarehouse' | translate }} <strong> {{ warehouseName }}</strong>
    </mat-card>
  </ng-template>
</div>

<app-display-deliveries
  *ngIf="canDisplay"
  [warehouseMode]="warehouseMode"
  [deliveries]="deliveries"
  [objectType]="objectTypeEnum.PlantWarehouse"
></app-display-deliveries>
