<div class="w-100">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
    <ng-container *ngIf="warehouseMode" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Użytkownik</th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <ng-container *ngIf="objectType === objectTypeEnum.FertilizerWarehouse" matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ilość</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity.toFixed(2) }} kg</td>
    </ng-container>

    <ng-container *ngIf="objectType === objectTypeEnum.PlantWarehouse" matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ilość</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity.toFixed(2) }}</td>
    </ng-container>

    <ng-container *ngIf="objectType === objectTypeEnum.PlantWarehouse" matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jednostka</th>
      <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
    </ng-container>

    <ng-container *ngIf="objectType === objectTypeEnum.PesticideWarehouse" matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ilość</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity.toFixed(2) }} ml</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
      <td mat-cell *matCellDef="let element">{{ element.price.toFixed(2) }} zł</td>
    </ng-container>

    <ng-container *ngIf="objectType === objectTypeEnum.FertilizerWarehouse" matColumnDef="pricePerTon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena za tonę</th>
      <td mat-cell *matCellDef="let element">{{ element.pricePerTon.toFixed(2) }} zł</td>
    </ng-container>

    <ng-container *ngIf="objectType === objectTypeEnum.PesticideWarehouse" matColumnDef="pricePerLiter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena za litr</th>
      <td mat-cell *matCellDef="let element">{{ element.pricePerLiter.toFixed(2) }} zł</td>
    </ng-container>

    <ng-container matColumnDef="realizationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
      <td mat-cell *matCellDef="let element">{{ element.realizationDate | date: 'dd.MM.yyyy HH:mm' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z8 w-100"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
