<div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label> {{ 'PesticideAction.SelectWarehouse' | translate }}</mat-label>
    <mat-select (selectionChange)="warehouseChange()" [(value)]="selectedWarehouseId">
      <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
        {{ warehouse.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="selectedWarehouse">
  <div>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ 'PesticideAction.SelectPesticide' | translate }}</mat-label>
      <mat-select (selectionChange)="pesticideChange()" [(value)]="selectedPesticideId">
        <mat-option *ngFor="let pesticideState of pesticideStates" [value]="pesticideState.pesticideId">
          {{ pesticideState.pesticideName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="selectedPesticide">
  <div class="section-information">
    <h3>
      <strong>{{ 'PesticideAction.PesticideInfo' | translate }}</strong>
    </h3>
    <div class="section-details">
      <p>
        <strong>{{ 'PesticideAction.Type' | translate }}</strong> {{ selectedPesticide.pesticideTypeName }}
        <mat-icon class="description-icon" matTooltip="{{ selectedPesticide.pesticideTypeDescription }}">info</mat-icon>
      </p>
      <p>
        <strong>{{ 'PesticideAction.Name' | translate }}</strong> {{ selectedPesticide.pesticideName }}
        <mat-icon class="description-icon" matTooltip="{{ selectedPesticide.pesticideDescription }}">info</mat-icon>
      </p>
      <p>
        <strong>{{ 'PesticideAction.RequiredPerHectare' | translate }}</strong>
        {{ selectedPesticide.requiredAmountPerHectare.toFixed(2) }} ml
      </p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3>
      <strong>{{ 'PesticideAction.WarehouseStock' | translate }}</strong>
    </h3>
    <div class="section-details">
      <p>
        <strong>{{ 'PesticideAction.Quantity' | translate }}</strong> {{ selectedPesticide.quantity.toFixed(2) }} ml
      </p>
      <p [ngClass]="{ 'invalid-quantity': !isEnoughQuantity }">
        <strong>{{ 'PesticideAction.AvailableFor' | translate }}</strong>
        {{ selectedPesticide.enoughForArea.toFixed(2) }} ha
      </p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3>
      <strong>{{ 'PesticideAction.QuantityRealization' | translate }}</strong>
    </h3>
    <div class="section-details">
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ 'PesticideAction.QuantityInMl' | translate }}</mat-label>
          <input matInput #postalCode maxlength="5" [formControl]="quantityFormControl" />
          <mat-hint align="end">{{ quantityFormControl.value }} ml / {{ selectedPesticide.quantity }} ml </mat-hint>

          <mat-error *ngIf="quantityFormControl.hasError('required')"
            ><strong>{{ 'PesticideAction.QuantityRequired' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="quantityFormControl.hasError('min')">
            {{ 'PesticideAction.RequiredMin' | translate }}<strong> {{ minQuantityForArea }}</strong> ml
          </mat-error>
          <mat-error *ngIf="quantityFormControl.hasError('max')">
            <strong> {{ 'PesticideAction.NoQuantity' | translate }} </strong>
          </mat-error>
        </mat-form-field>
      </td>
    </div>
  </div>
</div>
