@use '@angular/material' as mat;
@include mat.core();
@import '~bootstrap/scss/bootstrap';

$farming-primary: mat.define-palette(mat.$indigo-palette);
$farming-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$farming-warn: mat.define-palette(mat.$red-palette);
$farming-theme: mat.define-light-theme(
  (
    color: (
      primary: $farming-primary,
      accent: $farming-accent,
      warn: $farming-warn,
    ),
  )
);

@include mat.all-component-themes($farming-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}

.snackbar-alert {
  text-align: center !important;
  position: relative;
  padding-left: 45px !important;
  color: rgb(255, 255, 255);
  min-width: 100px !important;
}

.snackbar-alert::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fail-snackbar {
  background: rgb(255, 132, 132);
}

.success-snackbar {
  background: rgb(139, 206, 161);
}

.info-snackbar {
  background: rgb(240, 255, 152);
  color: black;
}

.fail-snackbar::before {
  background-image: url('assets/images/fail.png');
}

.success-snackbar::before {
  background-image: url('assets/images/success.png');
}

.info-snackbar::before {
  background-image: url('assets/images/info.png');
}
