<div class="row h-100 w-100">
  <div class="col-6 col-sm-3 first-row">
    <mat-card class="text-center h3 action-header"><strong>POGODA</strong></mat-card>
    <div class="d-flex justify-content-between">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lokalizacja</mat-label>
          <input matInput [(ngModel)]="place" />
        </mat-form-field>
      </div>

      <div>
        <button class="custom-button" mat-flat-button color="add" [disabled]="place === ''" (click)="refreshWeather()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3 second-row">
    <div *ngIf="canDisplay">
      <div class="d-flex">
        <div class="main-left">
          <p>
            <strong> {{ data.currentConditions.day | translate }}, {{ data.currentConditions.hour }} </strong>
          </p>
        </div>
        <div class="main-center">
          <img [src]="data.currentConditions.iconURL" />
        </div>
        <div class="main-right">
          <p>
            <strong>{{ data.location }}, {{ data.region | translate }}</strong>
          </p>
        </div>
      </div>
      <p class="text-center">{{ data.currentConditions.comment | translate }}</p>

      <div class="d-flex justify-content-between">
        <div>
          <p><strong>Temperatura: </strong> {{ data.currentConditions.temp.c }} &deg;C</p>
        </div>
        <div>
          <p><strong> Szansa opadów: </strong>{{ data.currentConditions.precip }}</p>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div>
          <p><strong>Wiatr: </strong>{{ data.currentConditions.wind.km }} km/h</p>
        </div>
        <div>
          <p><strong> Wilgotność: </strong> {{ data.currentConditions.humidity }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3 third-row">
    <div class="row h-100">
      <div class="col-6 col-sm-3 next-day" *ngFor="let weather of nextDays">
        <p class="text-center">
          <strong>{{ weather.day | translate }}</strong>
        </p>
        <div class="text-center">
          <img [src]="weather.iconURL" />
        </div>
        <p class="text-center">
          <span class="maxTemp">&nbsp;{{ weather.max_temp.c }} &deg;C&nbsp;</span> &nbsp; &nbsp;
          <span class="minTemp">&nbsp;{{ weather.min_temp.c }} &deg;C&nbsp;</span>
        </p>

        <p class="text-center">{{ weather.comment | translate }}</p>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3 fourth-row">
    <div class="d-flex">
      <div class="w-50">
        <mat-toolbar class="toolbarNav">
          <button class="button-block" mat-flat-button routerLinkActive="active-link" (click)="goBack()">
            <mat-icon>navigate_before</mat-icon>
            <span>Wstecz</span>
          </button>
        </mat-toolbar>
      </div>

      <div class="w-50">
        <mat-toolbar class="toolbarNav">
          <button
            class="button-block"
            mat-flat-button
            routerLinkActive="active-link"
            (click)="goNext()"
            [disabled]="!canGoNext"
          >
            <mat-icon>navigate_next</mat-icon>
            <span>Dalej</span>
          </button>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
