<div class="d-flex justify-content-between">
  <button class="mb-2 h-2 margin-right-button" mat-flat-button color="back" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-card *ngIf="warehouseId && fertilizerId; else onlyWarehouse" class="w-100 mb-2">
    Historia dostaw nawozu: <strong>{{ fertilizerName }} </strong> na magazyn: <strong> {{ warehouseName }} </strong>
  </mat-card>

  <ng-template #onlyWarehouse>
    <mat-card class="w-100 mb-2">
      Historia dostaw na magazyn: <strong> {{ warehouseName }}</strong>
    </mat-card>
  </ng-template>

  <mat-card *ngIf="!warehouseMode" class="mb-2 w-50">
    Średnia cena za tonę: <strong>{{ averagePricePerTon?.toFixed(2) }} zł </strong>
  </mat-card>
</div>

<app-display-deliveries
  *ngIf="canDisplay"
  [warehouseMode]="warehouseMode"
  [deliveries]="deliveries"
  [objectType]="objectTypeEnum.FertilizerWarehouse"
></app-display-deliveries>
