<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target name="default" xsi:type="File" fileName="c:/users/dawid/desktop/errorLogs.csv">
			<layout xsi:type="CSVLayout">
				<column name="name" layout="${event-properties:item=name}" />
				<column name="createDate" layout="${event-properties:item=createDate}" />
				<column name="exceptionMessage" layout="${exception:format=message}" />
				<column name="stacktrace" layout="${exception:format=ToString,StackTrace}" />
			</layout>
		</target>

	</targets>

	<rules>
		<logger name="default" minlevel="Error" writeTo="default" />
	</rules>
</nlog>