<div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label> {{ 'FertilizerAction.SelectLand' | translate }} </mat-label>
    <mat-select (selectionChange)="landChange()" [(value)]="selectedLandId">
      <mat-option *ngFor="let land of lands" [value]="land.id">
        {{ land.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="section-information" *ngIf="selectedLand">
  <h3>
    <strong>{{ 'FertilizerAction.LandDetails' | translate }} </strong>
  </h3>
  <div class="section-details">
    <p>
      <strong>{{ 'FertilizerAction.Name' | translate }} </strong> {{ selectedLand.name }}
    </p>
    <p>
      <strong>{{ 'FertilizerAction.Class' | translate }} </strong> {{ selectedLand.landClass }}
    </p>
    <p>
      <strong>{{ 'FertilizerAction.Area' | translate }} </strong> {{ selectedLand.area }} ha
    </p>
    <p>
      <strong>{{ 'FertilizerAction.State' | translate }} </strong>
      {{ landStatusHelper.getStatusName(selectedLand.status) }}
    </p>
    <p *ngIf="selectedLand.isPlanted">
      <strong>{{ 'FertilizerAction.PlantName' | translate }} </strong> {{ selectedLand.planted.plantName }}
    </p>
  </div>
</div>
