.center {
  text-align: center;
  margin-top: 80px;
}

.newPassword {
  width: 350px;
  margin-bottom: 20px;
}

.oldPassword {
  width: 350px;
  margin-bottom: 20px;
}

.repeatNewPassword {
  width: 350px;
  margin-bottom: 20px;
}

.changeBtn {
  width: 350px;
}

.mat-add {
  background-color: green;
  color: #fff;
}
