.center {
  text-align: center;
  margin-top: 40px;
}

.login {
  width: 100%;
  margin-bottom: 20px;
}

.password {
  width: 100%;
  margin-bottom: 20px;
}

.changeBtn {
  width: 100%;
}

.mat-add {
  background-color: green;
  color: #fff;
}

.loginCard {
  border-style: solid;
  border-color: #9dffa2;
  border-radius: 30px;
}
