<div class="row h-100 w-100">
  <div class="col-6 col-sm-3 first-row">
    <mat-card class="text-center h3 action-header"
      ><strong> {{ 'Season.Header' | translate | uppercase }} </strong></mat-card
    >
  </div>

  <div class="col-6 col-sm-3 second-row d-flex justify-content-center">
    <div *ngIf="currentSeason">
      <p class="text-center">
        <strong>{{ 'Season.Season' | translate }}</strong> {{ 'Season.Active' | translate }}
      </p>
      <p class="text-center">
        <strong>{{ 'Season.StartDate' | translate }}</strong> {{ currentSeason.startDate | date: 'dd.MM.yyyy HH:mm' }}
      </p>
      <div class="text-center">
        <button class="center-block change-season-btn" mat-fab color="end-season" (click)="endCurrentSeason()">
          {{ 'Season.End' | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!currentSeason">
      <p class="text-center">
        <strong>{{ 'Season.Season' | translate }}</strong> {{ 'Season.Lack' | translate }}
      </p>
      <p class="text-center">
        <strong>{{ 'Season.StartDate' | translate }}</strong> {{ 'Season.Lack' | translate }}
      </p>
      <div class="text-center">
        <button class="center-block change-season-btn" mat-fab color="start-season" (click)="startNewSeason()">
          {{ 'Season.Start' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3 third-row">
    <div class="d-flex">
      <div class="w-50">
        <mat-toolbar class="toolbarNav">
          <button
            class="button-block btn-margin-right"
            mat-flat-button
            routerLinkActive="active-link"
            (click)="goToMainPanel()"
          >
            <mat-icon>navigate_before</mat-icon>
            <span>{{ 'Season.Back' | translate }}</span>
          </button>
        </mat-toolbar>
      </div>

      <div class="w-50">
        <mat-toolbar class="toolbarNav">
          <button class="button-block btn-margin-left" mat-flat-button routerLinkActive="active-link" [disabled]="true">
            <mat-icon>navigate_next</mat-icon>
            <span>{{ 'Season.Next' | translate }}</span>
          </button>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
