<div class="ml-0 mr-0 mx-auto plant d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">Roślina</p>
    <p class="value">{{ selectedPlantState.plantName }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon floor-icon">local_florist</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto field d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">Działka</p>
    <p class="value">{{ selectedLand.name }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon field-icon">dashboard</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto warehouse d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">Magazyn</p>
    <p class="value">{{ selectedWarehouse.name }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon warehouse-icon">home</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto quantity d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">Ilość</p>
    <p class="value">{{ selectedQuantity }} kg</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon quantity-icon">casino</mat-icon>
  </div>
</div>
