<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <div class="w-100 d-flex justify-content-between">
    <div class="appHeader" *ngIf="!isAuthorized">Agriculture Solutions</div>

    <div class="appHeader" *ngIf="isAuthorized">
      Witaj, {{ userName }}!
      <span><mat-icon class="userAdmin" *ngIf="isAdmin">build</mat-icon></span>
      <span class="userInactive" *ngIf="!isActive"> (nieaktywny) </span>
    </div>
    <img class="mini-logo mat-elevation-z8" src="assets/images/logo_new.png" routerLink="/" />
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="logo mat-elevation-z8" src="assets/images/logo_new.png" routerLink="/" />

    <h4 class="name">Farm IT</h4>
    <p class="designation">Wersja 1.0</p>
    <mat-divider></mat-divider>

    <button *ngIf="!isAuthorized" mat-button class="menu-button" routerLink="/login">
      <mat-icon>perm_identity</mat-icon>
      <span>Logowanie</span>
    </button>

    <div *ngIf="isAuthorized">
      <button mat-button class="menu-button" routerLink="/lands">
        <mat-icon>dashboard</mat-icon>
        <span>Działki</span>
      </button>

      <button [disabled]="!isActive" mat-button class="menu-button" routerLink="/warehouse/plant">
        <mat-icon>local_florist</mat-icon>
        <span>Nasiona</span>
      </button>
      <button [disabled]="!isActive" mat-button class="menu-button" routerLink="/warehouse/pesticide">
        <mat-icon>local_drink</mat-icon>
        <span>Herbicydy</span>
      </button>
      <button [disabled]="!isActive" mat-button class="menu-button" routerLink="/warehouse/fertilizer">
        <mat-icon>grain</mat-icon>
        <span>Nawozy</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/user/change-password">
        <mat-icon>security</mat-icon>
        <span>Zmiana hasła</span>
      </button>

      <button *ngIf="isAdmin" [disabled]="!isActive" mat-button class="menu-button" routerLink="/user">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Użytkownicy</span>
      </button>

      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>build</mat-icon>
        <span>Wyloguj</span>
      </button>
      <mat-divider></mat-divider>
    </div>

    <button mat-button class="menu-button" routerLink="/contact">
      <mat-icon>contact_support</mat-icon>
      <span style="color: rgb(68, 0, 255) ">SEEDOWANIE</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="content mat-elevation-z8"
      [ngClass]="{ 'content-desktop': destkopMode, 'content-mobile': !destkopMode }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
