<div class="ml-0 mr-0 mx-auto" [ngClass]="{ 'login-desktop': destkopMode, 'login-mobile': !destkopMode }">
    <form [formGroup]="registerForm">
      <div class="center">
        <mat-card class="loginCard">


          <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Login </mat-label>
                <input formControlName="login" type="text" matInput />
                <mat-error *ngIf="registerForm.get('login')?.hasError('required')"> Login jest wymagany </mat-error>
                <mat-error *ngIf="registerForm.get('login')?.hasError('minlength')"> Login za krótki (min. 4) </mat-error>
              </mat-form-field>
          </div>
  
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Imię </mat-label>
                <input formControlName="name" type="text" matInput />
                <mat-error *ngIf="registerForm.get('name')?.hasError('required')"> Imię jest wymagane </mat-error>
              </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Hasło </mat-label>
                <input formControlName="password" type="password" matInput />
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')"> Hasło jest wymagane </mat-error>
                <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')"> Hasło za krótkie (min. 6) </mat-error>
                <mat-error *ngIf="registerForm.get('password')?.hasError('tooEasy')"> Hasło za proste </mat-error>
              </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Powtórz hasło </mat-label>
                <input formControlName="repeatPassword" type="password" matInput />
                <mat-error *ngIf="registerForm.get('repeatPassword')?.hasError('required')">
                  Powtórzenie jest wymagane
                </mat-error>
                <mat-error *ngIf="registerForm.get('repeatPassword')?.hasError('mustMatch')">
                  Hasła do siebie nie pasują
                </mat-error>
              </mat-form-field>
          </div>

          <button
            class="changeBtn"
            mat-flat-button
            color="add"
            [disabled]="registerForm.invalid"
            (click)="register()"
            cdkFocusInitial
          >
            Zarejestruj
          </button>

           <button class="mt-3" routerLink="/login">POWRÓT DO LOGOWANIA</button>
        </mat-card>
      </div>
    </form>
  </div>
  