.firstRow {
  margin-bottom: 10px;
}

.secondRow {
  margin-top: 10px;
}

.login {
  margin-right: 10px;
}

.name {
  margin-left: 10px;
}

.password {
  margin-right: 10px;
}

.repeatPassword {
  margin-left: 10px;
}

.mat-add {
  background-color: green;
  color: #fff;
}

.mat-cancel {
  background-color: black;
  color: white;
}
