<div class="ml-0 mr-0 mx-auto fertilizer d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">{{ 'FertilizerSummary.Header' | translate }}</p>
    <p class="value">{{ selectedFertilizerState.fertilizerName }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon fertilizer-icon">grain</mat-icon>
  </div>
</div>

<div
  class="ml-0 mr-0 mx-auto fertilizer-type d-flex justify-content-between"
  [ngClass]="{ 'width-mobile': !destkopMode }"
>
  <div class="w-50">
    <p class="header">{{ 'FertilizerSummary.Type' | translate }}</p>
    <p class="value">{{ selectedFertilizerState.fertilizerTypeName }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon fertilizer-type-icon">settings</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto field d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">{{ 'FertilizerSummary.Land' | translate }}</p>
    <p class="value">{{ selectedLand.name }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon field-icon">dashboard</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto warehouse d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">{{ 'FertilizerSummary.Warehouse' | translate }}</p>
    <p class="value">{{ selectedWarehouse.name }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon warehouse-icon">home</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto quantity d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header">{{ 'FertilizerSummary.Quantity' | translate }}</p>
    <p class="value">{{ selectedQuantity }} kg</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon quantity-icon">casino</mat-icon>
  </div>
</div>
