<div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Wybierz magazyn nawozów</mat-label>
    <mat-select (selectionChange)="warehouseChange()" [(value)]="selectedWarehouseId">
      <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
        {{ warehouse.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="selectedWarehouse">
  <div>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Wybierz nawóz</mat-label>
      <mat-select (selectionChange)="fertilizerChange()" [(value)]="selectedFertilizerId">
        <mat-option *ngFor="let fertilizerState of fertilizerStates" [value]="fertilizerState.fertilizerId">
          {{ fertilizerState.fertilizerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="selectedFertilizer">
  <div class="section-information">
    <h3><strong>Informacje o nawozie</strong></h3>
    <div class="section-details">
      <p><strong>Typ:</strong> {{ selectedFertilizer.fertilizerTypeName }}</p>
      <p><strong>Nazwa:</strong> {{ selectedFertilizer.fertilizerName }}</p>
      <p><strong>Wymagane na hektar:</strong> {{ selectedFertilizer.requiredAmountPerHectare.toFixed(2) }} kg</p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3><strong>Stan magazynowy</strong></h3>
    <div class="section-details">
      <p><strong>Ilość:</strong> {{ selectedFertilizer.quantity.toFixed(2) }} kg</p>
      <p><strong>Dostępne na:</strong> {{ selectedFertilizer.enoughForArea.toFixed(2) }} ha</p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3><strong>Ilość realizacji</strong></h3>
    <div class="section-details">
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ilość w kg</mat-label>
          <input matInput #postalCode maxlength="5" [formControl]="quantityFormControl" />
          <mat-hint align="end">{{ quantityFormControl.value }} kg / {{ selectedFertilizer.quantity }} kg </mat-hint>

          <mat-error *ngIf="quantityFormControl.hasError('required')"> Ilość jest <strong>wymagana</strong> </mat-error>
          <mat-error *ngIf="quantityFormControl.hasError('min')">
            Wymagane minimum <strong> {{ minQuantityForArea }}</strong> kg
          </mat-error>
          <mat-error *ngIf="quantityFormControl.hasError('max')">
            Brak takiej <strong>ilości</strong> na magazynie
          </mat-error>
        </mat-form-field>
      </td>
    </div>
  </div>
</div>
