<div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>{{ 'FertilizerAction.SelectWarehouse' | translate }} </mat-label>
    <mat-select (selectionChange)="warehouseChange()" [(value)]="selectedWarehouseId">
      <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
        {{ warehouse.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="selectedWarehouse">
  <div>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ 'FertilizerAction.SelectFertilizer' | translate }} </mat-label>
      <mat-select (selectionChange)="fertilizerChange()" [(value)]="selectedFertilizerId">
        <mat-option *ngFor="let fertilizerState of fertilizerStates" [value]="fertilizerState.fertilizerId">
          {{ fertilizerState.fertilizerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="selectedFertilizer">
  <div class="section-information">
    <h3><strong>{{ 'FertilizerAction.FertilizerInfo' | translate }} </strong></h3>
    <div class="section-details">
      <p>
        <strong>{{ 'FertilizerAction.Type' | translate }} </strong> {{ selectedFertilizer.fertilizerTypeName }}
        <mat-icon class="description-icon" matTooltip="{{ selectedFertilizer.fertilizerTypeDescription }}"
          >info</mat-icon
        >
      </p>
      <p>
        <strong>{{ 'FertilizerAction.Name' | translate }} </strong> {{ selectedFertilizer.fertilizerName }}
        <mat-icon class="description-icon" matTooltip="{{ selectedFertilizer.fertilizerDescription }}">info</mat-icon>
      </p>

      <p><strong>{{ 'FertilizerAction.RequiredPerHectare' | translate }} </strong> {{ selectedFertilizer.requiredAmountPerHectare.toFixed(2) }} kg</p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3><strong>{{ 'FertilizerAction.WarehouseStock' | translate }}</strong></h3>
    <div class="section-details">
      <p><strong>{{ 'FertilizerAction.Quantity' | translate }} </strong> {{ selectedFertilizer.quantity.toFixed(2) }} kg</p>
      <p [ngClass]="{ 'invalid-quantity': !isEnoughQuantity }">
        <strong>{{ 'FertilizerAction.AvailableFor' | translate }} </strong> {{ selectedFertilizer.enoughForArea.toFixed(2) }} ha
      </p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3><strong>{{ 'FertilizerAction.QuantityRealization' | translate }} </strong></h3>
    <div class="section-details">
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ 'FertilizerAction.QuantityInKg' | translate }} </mat-label>
          <input matInput #postalCode maxlength="5" [formControl]="quantityFormControl" />
          <mat-hint align="end">{{ quantityFormControl.value }} kg / {{ selectedFertilizer.quantity }} kg </mat-hint>

          <mat-error *ngIf="quantityFormControl.hasError('required')"> <strong>{{ 'FertilizerAction.QuantityRequired' | translate }}</strong> </mat-error>
          <mat-error *ngIf="quantityFormControl.hasError('min')">
            {{ 'FertilizerAction.RequiredMin' | translate }} <strong> {{ minQuantityForArea }}</strong> kg
          </mat-error>
          <mat-error *ngIf="quantityFormControl.hasError('max')">
            <strong> {{ 'FertilizerAction.NoQuantity' | translate }} </strong>
          </mat-error>
        </mat-form-field>
      </td>
    </div>
  </div>
</div>
