.center {
  text-align: center;
  margin-top: 40px;
}

.newPassword {
  width: 100%;
  margin-bottom: 20px;
}

.oldPassword {
  width: 100%;
  margin-bottom: 20px;
}

.repeatNewPassword {
  width: 100%;
  margin-bottom: 20px;
}

.changeBtn {
  width: 100%;
}

.mat-add {
  background-color: green;
  color: #fff;
}

.change-password {
  border-style: solid;
  border-color: #b3c2ff;
  border-radius: 30px;
}
