<form [formGroup]="changePasswordForm">
  <div class="center">
    <div>
      <mat-form-field class="example-full-width oldPassword" appearance="fill">
        <mat-label> Dotychczasowe hasło </mat-label>
        <input formControlName="oldPassword" type="password" matInput />
        <mat-error
          *ngIf="
            changePasswordForm.get('oldPassword')?.touched &&
            changePasswordForm.get('oldPassword')?.hasError('required')
          "
        >
          Dotychczasowe hasło jest wymagane
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width newPassword" appearance="fill">
        <mat-label> Nowe hasło </mat-label>
        <input formControlName="newPassword" type="password" matInput />
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.hasError('required')
          "
        >
          Hasło jest wymagane
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
          Hasło za krótkie (min. 6)
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('tooEasy')"> Hasło za proste </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width repeatNewPassword" appearance="fill">
        <mat-label> Powtórz hasło </mat-label>
        <input formControlName="repeatNewPassword" type="password" matInput />
        <mat-error
          *ngIf="
            changePasswordForm.get('repeatNewPassword')?.touched &&
            changePasswordForm.get('repeatNewPassword')?.hasError('required')
          "
        >
          Powtórzenie jest wymagane
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('repeatNewPassword')?.hasError('mustMatch')">
          Hasła do siebie nie pasują
        </mat-error>
      </mat-form-field>
    </div>
    <button
      class="changeBtn"
      mat-flat-button
      color="add"
      [disabled]="changePasswordForm.invalid"
      (click)="changePassword()"
      cdkFocusInitial
    >
      Zmień
    </button>
  </div>
</form>
