.center {
  text-align: center;
  margin-top: 40px;
}

.newPassword {
  width: 100%;
  margin-bottom: 20px;
}

.oldPassword {
  width: 100%;
  margin-bottom: 20px;
}

.repeatNewPassword {
  width: 100%;
  margin-bottom: 20px;
}

.changeBtn {
  width: 100%;
}

.mat-add {
  background-color: green;
  color: #fff;
}

.change-password {
  border-style: solid;
  border-color: #9dffa2;
  box-shadow: 0 0 1em rgb(107, 255, 109);
  border-radius: 30px;
}

.change-desktop {
  width: 60% !important;
}

.change-mobile {
  width: 100% !important;
}
