<div class="ml-0 mr-0 mx-auto" [ngClass]="{ 'change-desktop': destkopMode, 'change-mobile': !destkopMode }">
  <form [formGroup]="changePasswordForm">
    <div class="center">
      <mat-card class="change-password">
        <div>
          <mat-form-field class="example-full-width oldPassword" appearance="fill">
            <mat-label> {{ 'ChangePassword.ActualPassword' | translate }} </mat-label>
            <input formControlName="oldPassword" type="password" matInput />
            <mat-error
              *ngIf="
                changePasswordForm.get('oldPassword')?.touched &&
                changePasswordForm.get('oldPassword')?.hasError('required')
              "
            >
              {{ 'ChangePassword.ActualRequired' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width newPassword" appearance="fill">
            <mat-label> {{ 'ChangePassword.NewPassword' | translate }} </mat-label>
            <input formControlName="newPassword" type="password" matInput />
            <mat-error
              *ngIf="
                changePasswordForm.get('newPassword')?.touched &&
                changePasswordForm.get('newPassword')?.hasError('required')
              "
            >
              {{ 'ChangePassword.PasswordRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
              {{ 'ChangePassword.PasswordTooShort' | translate }}
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('tooEasy')">
              {{ 'ChangePassword.PasswordTooSimple' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width repeatNewPassword" appearance="fill">
            <mat-label> {{ 'ChangePassword.RepeatPassword' | translate }} </mat-label>
            <input formControlName="repeatNewPassword" type="password" matInput />
            <mat-error
              *ngIf="
                changePasswordForm.get('repeatNewPassword')?.touched &&
                changePasswordForm.get('repeatNewPassword')?.hasError('required')
              "
            >
              {{ 'ChangePassword.RepeatRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('repeatNewPassword')?.hasError('mustMatch')">
              {{ 'ChangePassword.PasswordsNotMatch' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <button
          class="changeBtn"
          mat-flat-button
          color="add"
          [disabled]="changePasswordForm.invalid"
          (click)="changePassword()"
          cdkFocusInitial
        >
          {{ 'ChangePassword.Change' | translate }}
        </button>
      </mat-card>
    </div>
  </form>
</div>
