<div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Wybierz działkę</mat-label>
    <mat-select (selectionChange)="landChange()" [(value)]="selectedLandId">
      <mat-option *ngFor="let land of lands" [value]="land.id">
        {{ land.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="selectedLand">
  <div class="section-information">
    <h3><strong>Informacje o działce</strong></h3>
    <div class="section-details">
      <p><strong>Nazwa:</strong> {{ selectedLand.name }}</p>
      <p><strong>Klasa ziemi:</strong> {{ selectedLand.landClass }}</p>
      <p><strong>Areał:</strong> {{ selectedLand.area }} ha</p>
      <p [ngClass]="{ isNotPlanted: !selectedLand.isPlanted }">
        <strong>Status:</strong>
        {{ landStatusHelper.getStatusName(selectedLand.status) }}
      </p>
      <p *ngIf="selectedLand.isPlanted"><strong>Roślina:</strong> {{ selectedLand.planted.plantName }}</p>
    </div>
  </div>
  <br />
  <div class="section-information">
    <h3><strong>Sposób realizacji</strong></h3>
    <div class="section-details">
      <mat-radio-group [(ngModel)]="selectedMode" (change)="modeChange()">
        <mat-radio-button value="{{ landStatusEnum.Harvested }}">Zbierz</mat-radio-button>
        <p></p>
        <mat-radio-button value="{{ landStatusEnum.Destroyed }}">Zniszcz</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
