<div class="row h-100">
  <div class="col-6 col-sm-3 first-row"><button class="button-block plant" (click)="Test()">Sianie</button></div>
  <div class="col-6 col-sm-3 first-row">
    <button class="button-block fertilizer" (click)="Test()">Nawożenie</button>
  </div>

  <div class="col-6 col-sm-3 second-row">
    <button class="button-block pesticide" (click)="Test()">Pryskanie</button>
  </div>
  <div class="col-6 col-sm-3 second-row"><button class="button-block harvest" (click)="Test()">Zbiór</button></div>

  <div class="col-6 col-sm-3 third-row"><button class="button-block season" (click)="Test()">Sezon</button></div>
  <div class="col-6 col-sm-3 third-row"><button class="button-block weather" (click)="Test()">Pogoda</button></div>
</div>
