<div class="row h-100">
  <div class="col-6 col-sm-3 first-row">
    <button class="button-block plant" routerLink="/action/plant">Sianie</button>
  </div>
  <div class="col-6 col-sm-3 first-row">
    <button class="button-block fertilizer" routerLink="/action/fertilizer">Nawożenie</button>
  </div>

  <div class="col-6 col-sm-3 second-row">
    <button class="button-block pesticide" routerLink="/action/pesticide">Pryskanie</button>
  </div>
  <div class="col-6 col-sm-3 second-row">
    <button class="button-block harvest" routerLink="/action/harvest">Zbiór</button>
  </div>

  <div class="col-6 col-sm-3 third-row">
    <button class="button-block season" routerLink="/action/season">Sezon</button>
  </div>
  <div class="col-6 col-sm-3 third-row">
    <button class="button-block weather" routerLink="/action/fertilizer">Pogoda</button>
  </div>
</div>
