<div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>{{ 'PlantAction.SelectLand' | translate }}</mat-label>
    <mat-select (selectionChange)="landChange()" [(value)]="selectedLandId">
      <mat-option *ngFor="let land of lands" [value]="land.id">
        {{ land.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="section-information" *ngIf="selectedLand">
  <h3>
    <strong>{{ 'PlantAction.LandDetails' | translate }}</strong>
  </h3>
  <div class="section-details">
    <p>
      <strong>{{ 'PlantAction.Name' | translate }}</strong> {{ selectedLand.name }}
    </p>
    <p>
      <strong>{{ 'PlantAction.Class' | translate }}</strong> {{ selectedLand.landClass }}
    </p>
    <p>
      <strong>{{ 'PlantAction.Area' | translate }}</strong> {{ selectedLand.area }} ha
    </p>
    <p [ngClass]="{ isPlanted: selectedLand.isPlanted }">
      <strong>{{ 'PlantAction.State' | translate }}</strong> {{ landStatusHelper.getStatusName(selectedLand.status) }}
    </p>
    <p *ngIf="selectedLand.isPlanted">
      <strong>{{ 'PlantAction.Plant' | translate }}</strong> {{ selectedLand.planted.plantName }}
    </p>
  </div>
</div>
