<div class="ml-0 mr-0 mx-auto pesticide d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header"> {{ 'PesticideSummary.Pesticide' | translate }} </p>
    <p class="value">{{ selectedPesticideState.pesticideName }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon pesticide-icon">local_drink</mat-icon>
  </div>
</div>

<div
  class="ml-0 mr-0 mx-auto pesticide-type d-flex justify-content-between"
  [ngClass]="{ 'width-mobile': !destkopMode }"
>
  <div class="w-50">
    <p class="header"> {{ 'PesticideSummary.Type' | translate }} </p>
    <p class="value">{{ selectedPesticideState.pesticideTypeName }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon pesticide-type-icon">settings</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto field d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header"> {{ 'PesticideSummary.Land' | translate }} </p>
    <p class="value">{{ selectedLand.name }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon field-icon">dashboard</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto warehouse d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header"> {{ 'PesticideSummary.Warehouse' | translate }} </p>
    <p class="value">{{ selectedWarehouse.name }}</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon warehouse-icon">home</mat-icon>
  </div>
</div>

<div class="ml-0 mr-0 mx-auto quantity d-flex justify-content-between" [ngClass]="{ 'width-mobile': !destkopMode }">
  <div class="w-50">
    <p class="header"> {{ 'PesticideSummary.Quantity' | translate }} </p>
    <p class="value">{{ selectedQuantity }} ml</p>
  </div>

  <div class="w-50 icondiv">
    <mat-icon class="icon quantity-icon">casino</mat-icon>
  </div>
</div>
