.pesticide {
  height: 19%;
  width: 60% !important;
  margin-top: 3px;
  box-shadow: 0 0 1em rgb(107, 255, 109);
}

.pesticide-type {
  height: 19%;
  width: 60% !important;
  border-top: solid;
  border-top-color: #00ff50;
  box-shadow: 0 0 1em rgb(107, 255, 109);
}

.field {
  height: 19%;
  width: 60% !important;
  border-top: solid;
  border-top-color: #00ff50;
  box-shadow: 0 0 1em rgb(107, 255, 109);
}

.warehouse {
  height: 19%;
  width: 60% !important;
  border-top: solid;
  border-top-color: #00ff50;
  box-shadow: 0 0 1em rgb(107, 255, 109);
}

.quantity {
  height: 19%;
  width: 60% !important;
  border-top: solid;
  border-top-color: #00ff50;
  box-shadow: 0 0 1em rgb(107, 255, 109);
}

.header {
  font-size: 20px;
  font-family: cursive;
  padding-top: 10px;
  padding-left: 40px;
}

.value {
  font-size: 15px;
  font-family: unset;
  padding-left: 40px;
}

.width-mobile {
  width: 95% !important;
}

.icon {
  font-size: 77px;
  margin-right: 60px;
  float: right;
}

.pesticide-icon {
  color: #59c6ff;
}

.pesticide-type-icon {
  color: #dc007c;
}

.field-icon {
  color: brown;
}

.warehouse-icon {
  color: black;
}

.quantity-icon {
  color: blue;
}
