td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-add {
  background-color: green;
  color: #fff;
}

.mat-deliveries {
  background-color: #04ff00;
  color: #fff;
}

.custom-button {
  font-size: 30px;
  padding-top: 9px;
  padding-bottom: 7.5px;
  margin-left: 5px;
}
